@import 'src/styles/vars';

.amount {
  border-radius: 0 0 $radius $radius;
  padding: $gutter * 2;
  background-color: $mainColor;
  color: $lightColor;
  .amount-value {
    font-weight: $fwBold;
    font-size: 2.5em;
  
  }

  .amount-currency {
    font-size: 1.3em;
    margin-top: $gutter;
  }
}
