@import 'src/styles/vars';

.currencies {
  text-align: left;
  max-height: 350px;
  overflow-y: auto;
  background: $lightColor;

  .currencies-search {
    padding: $gutter;
    margin-top: $gutter;
    border: none;
    width: 100%;
    color: $mainColor;
    font-size: 1.2em;
    
    &::placeholder {
      color: $altColor;
    }
  }
  
  .currency {
    border-top: 1px solid $altColor;
    padding: $gutter;
    font-weight: $fwBold;
    cursor: pointer;
    transition: background-color $transitionSlow;
    
    &:hover {
      background-color: $altColor;
      transition: background-color $transitionFast;
    }
  }
}
